<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body>
  <header class="site-header">

    <header class="post-header">
      <button type="button" class="post-title" onclick="print()">打印</button>
    </header>
  </header>
  
<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <article class="post">
      <div class="post-content" id="printcontent">
         {{ content }}
      </div>
    </article>
  </div>
</main>

<script>
  function print()
  {
    //判断iframe是否存在，不存在则创建iframe
    var iframe=document.getElementById("print-iframe");
    if(!iframe){  
            var el = document.getElementById("printcontent");
            iframe = document.createElement('IFRAME');
            var doc = null;
            iframe.setAttribute("id", "print-iframe");
            iframe.setAttribute('style', 'position:absolute;width:0px;height:0px;left:-500px;top:-500px;');
            document.body.appendChild(iframe);
            doc = iframe.contentWindow.document;
            //这里可以自定义样式
            //doc.write("<LINK rel="stylesheet" type="text/css" href="css/print.css">");
            doc.write('<div>' + el.innerHTML + '</div>');
            doc.close();
            iframe.contentWindow.focus();            
    }
    iframe.contentWindow.print();
    if (navigator.userAgent.indexOf("MSIE") > 0){
        document.body.removeChild(iframe);
    }
  }
</script>

</body>

</html>

